body
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

a
{
    text-decoration: none;
    color: #fff;
}

.pep
{
    background-image: url(img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 90%;
}

.kopernik img
{
    height: 25%;
    width: 38%;
    position: absolute;
    top: 100px;
    left: 650px;
}

.btn
{
    border: none;
    border-radius: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffff;
    cursor: pointer;
    background-size: 200%;
    font-weight: bold;
    transition: 0.5s;
    background-image: linear-gradient(to right, #3e64ff, #a10000, #3e64ff);
}

.btn-1
{
    display: block;
    position: absolute;
    top: 275px;
    left: 670px;
    padding: 20px 120px;
}

.btn-2
{
    display: block;
    position: absolute;
    top: 350px;
    left: 670px;
    padding: 20px 130px;
    margin-top: 10px;
}

.btn-3
{
    display: block;
    position: absolute;
    top: 425px;
    left: 670px;
    padding: 20px 90px;
    margin-top: 20px;
}

.btn:hover
{
    background-position: right;
}

.down1 img
{
    height: 4%;
    width: 18%;
    position: absolute;
    top: 580px;
    left: 670px;
}

.down2 img
{
    height: 18%;
    width: 15%;
    position: absolute;
    top: 535px;
    left: 890px;
}

.down3 img
{
    height: 15%;
    width: 10%;
    position: absolute;
    top: 540px;
    left: 1030px;
}